@model LojaCFF.UI.Models.Produto

@{
    ViewBag.Title = "Adicionar Produto"
}

<div class="row">
    <div class="col-md">
        @*One of three columns*@
    </div>
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>

        <form method="post">

            <div class="form-group">
                <label for="txtNome">Nome:</label>
                @*<input type="text" class="form-control" name="Nome" id="txtNome" autofocus />*@
                @Html.TextBoxFor(f => f.Nome, new { @class = "form-control", autofocus = "" })
                <small>
                    @Html.ValidationMessageFor(f => f.Nome, null, new { @class = "text-danger" })
                </small>
            </div>

            <div class="form-group">
                <label for="txtPreco">Preço:</label>
                <input type="text" class="form-control" name="Preco" id="txtPreco" autofocus />
                <small>
                    @Html.ValidationMessageFor(f => f.Preco, null, new { @class = "text-danger" })
                </small>
            </div>

            <div class="form-group">
                <label for="txtTipo">Tipo:</label>
                @Html.DropDownListFor()
                <small>
                    @Html.ValidationMessageFor(f => f.TipoProdutoId, null, new { @class = "text-danger" })
                </small>
            </div>

            <div class="form-group">
                <label for="txtQtde">Quantidade:</label>
                <input type="number" class="form-control" name="Qtde" id="txtQtde" autofocus />
                <small>
                    @Html.ValidationMessageFor(f => f.Qtde, null, new { @class = "text-danger" })
                </small>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-success">Salvar</button>
            </div>

        </form>
    </div>
    <div class="col-md">
        @*One of three columns*@
    </div>
</div>
