@model LojaCFF.UI.Models.Produto

@{
    ViewBag.Title = "Editar Produto"
}

<div class="row">
    <div class="col-md">
        @*One of three columns*@
    </div>
    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>

        <form method="post">

            <div class="form-group">
                <label for="txtNome">Nome:</label>
                <input type="text" class="form-control" name="Nome" id="txtNome" value="@Model.Nome" autofocus />
            </div>

            <div class="form-group">
                <label for="txtPreco">Preço:</label>
                <input type="text" class="form-control" name="Preco" id="txtPreco" value="@Model.Preco" autofocus />
            </div>

            <div class="form-group">
                <label for="txtTipo">Tipo:</label>
                <input type="text" class="form-control" name="Tipo" id="txtTipo" value="@Model.Tipo" autofocus />
            </div>

            <div class="form-group">
                <label for="txtQtde">Quantidade:</label>
                <input type="number" class="form-control" name="Qtde" id="txtQtde" value="@Model.Qtde" autofocus />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-success">Salvar</button>
            </div>

        </form>
    </div>
    <div class="col-md">
        @*One of three columns*@
    </div>
</div>
